language: go
go:
  - "1.15"
env:
  global:
  - GO111MODULE=on
before_install:
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/mattn/goveralls
script:
  - go test -v -race ./... -covermode=atomic -coverprofile=coverage.out