name: Daily test

on:
  schedule:
    # Every day at 07:00 (AM), Sun-Thu
    - cron: "0 7 * * 0-4"


jobs:
  test:
    env:
      LOGZIO_API_TOKEN: ${{ secrets.LOGZIO_API_TOKEN }}
      LOGZIO_WARM_API_TOKEN: ${{ secrets.LOGZIO_WARM_API_TOKEN }}
      LOGZIO_EMAIL: ${{ secrets.LOGZIO_EMAIL }}
      LOGZIO_ACCOUNT_ID: ${{ secrets.LOGZIO_ACCOUNT_ID }}
      S3_PATH: ${{ secrets.S3_PATH }}
      AWS_ACCESS_KEY: ${{ secrets.AWS_ACCESS_KEY }}
      AWS_ARN: ${{ secrets.AWS_ARN }}
      AWS_ARN_S3_CONNECTOR: ${{ secrets.AWS_ARN_S3_CONNECTOR }}
      AWS_SECRET_KEY: ${{ secrets.AWS_SECRET_KEY }}
      AZURE_ACCOUNT_NAME: ${{ secrets.AZURE_ACCOUNT_NAME }}
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      AZURE_CONTAINER_NAME: ${{ secrets.AZURE_CONTAINER_NAME }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      METRICS_FOLDER_ID: ${{ secrets.METRICS_FOLDER_ID }}
      GRAFANA_FOLDER_UID: ${{ secrets.GRAFANA_FOLDER_UID }}
      GRAFANA_DATASOURCE_UID: ${{ secrets.GRAFANA_DATASOURCE_UID }}
      METRICS_ACCOUNT_NAME : ${{ secrets.METRICS_ACCOUNT_NAME }}
      LOGZIO_METRICS_ACCOUNT_ID: ${{ secrets.LOGZIO_METRICS_ACCOUNT_ID }}
      LOGZIO_CONSUMPTION_API_TOKEN: ${{ secrets.LOGZIO_CONSUMPTION_API_TOKEN }}
      GO111MODULE: on
    name: Test
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24
      - name: Test
        # We exclude kibana_objects tests
        run: go test $(go list ./... | grep -v kibana_objects | grep -v grafana_folders)
      - name: Test grafana folders
        run: go test -parallel 1 ./grafana_folders
        