name: Tests

on: [push, pull_request]

env:
  LOGZIO_API_TOKEN: ${{ secrets.LOGZIO_API_TOKEN }}
  LOGZIO_EMAIL: ${{ secrets.LOGZIO_EMAIL }}
  LOGZIO_ACCOUNT_ID: ${{ secrets.LOGZIO_ACCOUNT_ID }}
  GO111MODULE: "on"

jobs:
  test:
    name: Test
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.15
    - name: Before install
      run: |
        go get golang.org/x/tools/cmd/cover
        go get github.com/mattn/goveralls
    - name: Test
      run: go test -v -race ./... -covermode=atomic -coverprofile=coverage.out
