name: Tests

on: [pull_request]


jobs:
  test:
    env:
      LOGZIO_API_TOKEN: ${{ secrets.LOGZIO_API_TOKEN }}
      LOGZIO_EMAIL: ${{ secrets.LOGZIO_EMAIL }}
      LOGZIO_ACCOUNT_ID: ${{ secrets.LOGZIO_ACCOUNT_ID }}
      S3_PATH: ${{ secrets.S3_PATH }}
      AWS_ACCESS_KEY: ${{ secrets.AWS_ACCESS_KEY }}
      AWS_ARN: ${{ secrets.AWS_ARN }}
      AWS_SECRET_KEY: ${{ secrets.AWS_SECRET_KEY }}
      AZURE_ACCOUNT_NAME: ${{ secrets.AZURE_ACCOUNT_NAME }}
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      AZURE_CONTAINER_NAME: ${{ secrets.AZURE_CONTAINER_NAME }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      METRICS_FOLDER_ID: ${{ secrets.METRICS_FOLDER_ID }}
      GO111MODULE: on
    name: Test
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.15
    - name: Before install
      run: |
        go get golang.org/x/tools/cmd/cover
        go get github.com/mattn/goveralls
    - name: Test
      run: go test -v -race ./... -covermode=atomic -coverprofile=coverage.out
